@model Capa_Logica_Negocio.Models.PacienteModel

@{
    ViewData["Title"] = "DeletePaciente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top:90px" class="containerCustom">

    <h4>Paciente a Eliminar</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombres_Paciente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombres_Paciente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellidos_Paciente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellidos_Paciente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Edad_Paciente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Edad_Paciente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono_Paciente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefono_Paciente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion_Paciente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion_Paciente)
        </dd>
    </dl>

    <form method="post" asp-action="DeletePaciente" asp-controller="PacienteMainView">
        <input type="hidden" asp-for="Id_Paciente" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-controller="PacienteMainView" asp-action="MainIndex">Back to List</a>
    </form>


</div>

