@model IEnumerable<Capa_Logica_Negocio.Models.CuentaClienteModel>

<div class="card">

    <div class="card-header">
        <div class="row  mx-auto">

            <div class="col-2">
                @Html.DisplayNameFor(model => model.Saldo_Cuenta)
            </div>
            <div class="col-2">

                @Html.DisplayNameFor(model => model.Fecha_Cuenta)
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.Fecha_Cancelacion_Cuenta)

            </div>
            <div class="col-2">
                @Html.DisplayNameFor(model => model.Saldada)

            </div>
            <div class="col-2">
                @Html.DisplayNameFor(model => model.Cliente)

            </div>

        </div>
    </div>
    <div class="card-body ">
        <div class="cuentaClienteTableAcordion" id="cuentaColapse">
            @foreach (var item in Model)
            {
                <div class="row selectRow">
                    <div class="row user-select-none" onclick='enableActiveAccordion(@item.Id_Cuenta.ToString())' style="cursor:pointer">
                        <div class=" row mx-auto selHover">

                            <div class="col-2">
                                @Html.DisplayFor(modelItem => item.Saldo_Cuenta)
                            </div>
                            <div class="col-2">
                                @Html.DisplayFor(modelItem => item.Fecha_Cuenta)
                            </div>
                            <div class="col-4">
                                @Html.DisplayFor(modelItem => item.Fecha_Cancelacion_Cuenta)
                            </div>
                            <div class="col-2">
                                @Html.DisplayFor(modelItem => item.Saldada)
                            </div>
                            <div class="col-2">
                                @Html.DisplayFor(modelItem => item.IdCliente_Cuenta)
                            </div>
                        </div>

                    </div>
                    <div id="colapseFile-@item.Id_Cuenta.ToString()" class="InactiveAccordion contenAcordion">
                        <div class="card-body row mx-auto">
                            <div class=" col-6 overflow-auto p-1" style="height:500px">
                                @await Component.InvokeAsync("pagosDetails", new { idCuenta = item.Id_Cuenta})
                            </div>
                            <div class="col-6 overflow-auto p-1">
                                @await Component.InvokeAsync("creditoConsultaDetails", new { idCuenta = item.Id_Cuenta})
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>

    </div>

</div>


