@model IEnumerable<Capa_Logica_Negocio.Models.CuentaClienteModel>

<div class="card">

    <div class="card-header">
        <div class="row  mx-auto">

            <div class="col-2">
                @Html.DisplayNameFor(model => model.Saldo_Cuenta)
            </div>
            <div class="col-2">

                @Html.DisplayNameFor(model => model.Fecha_Cuenta)
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.Fecha_Cancelacion_Cuenta)

            </div>
            <div class="col-2">
                @Html.DisplayNameFor(model => model.Saldada)

            </div>
            <div class="col-2">
                @Html.DisplayNameFor(model => model.Cliente)

            </div>

        </div>
    </div>
    <div class="card-body ">
        <div class="cuentaClienteTableAcordion" id="cuentaColapse">
            @foreach (var item in Model)
            {
                <div class="row selectRow" >
                    <div class="row user-select-none fileSelected" onclick='enableActiveAccordion(@item.Id_Cuenta.ToString())' style="cursor:pointer">
                        <div class=" row mx-auto selHover">

                            <div class="col-2">
                                @Html.DisplayFor(modelItem => item.Saldo_Cuenta)
                            </div>
                            <div class="col-2">
                                @Html.DisplayFor(modelItem => item.Fecha_Cuenta)
                            </div>
                            <div class="col-4">
                                @Html.DisplayFor(modelItem => item.Fecha_Cancelacion_Cuenta)
                            </div>
                            <div class="col-2">
                                @Html.DisplayFor(modelItem => item.Saldada)
                            </div>
                            <div class="col-2">
                                @Html.DisplayFor(modelItem => item.IdCliente_Cuenta)
                            </div>
                        </div>

                    </div>
                    <div  id="colapseFile-@item.Id_Cuenta.ToString()" class="InactiveAccordion contenAcordion">
                        <div class="card-body row mx-auto">
                            <div class=" col-6 ">
                                aca va una informacion, de preferencia los ingresos de las cuentas o una pequeña lista de ellos<hr />
                                que sean 10 mejor, los 10 ultimos realizados
                            </div>
                            <div class="col-6">
                                aca va otra, de preferencia los egresos de las cuentas o una breve descripcion de ellos<hr />
                                igual que sean 10, parta fines practicos
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>

    </div>

</div>


