@model IEnumerable<Capa_Logica_Negocio.Models.PagoModel>

@if (Model.Count() != 0)
{
    <table class="table table-borderless table-sm table-hover mb-2">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model=> model.Pagador_Pago)
                </th>
                <th>
                    @Html.DisplayNameFor(model=> model.Fecha_Pago)
                </th>
                <th>
                    @Html.DisplayNameFor(model=> model.Monto_Pago)
                </th>
            </tr>
        </thead>
        <tbody >

            @foreach (var item in @Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem=> item.Pagador_Pago)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem=> item.Fecha_Pago)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem=> item.Monto_Pago)
                    </td>

                </tr>

            }


        </tbody>


    </table>
}
else
{
    <div class="alert alert-warning" role="alert">
        Sin registros
    </div>
}




