@model Capa_Logica_Negocio.Models.OftalmologoModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="containerCustom">
    <div class="grid-c-x2">

        <aside class="sideBar">
            <ul class="sideBarUL">
                <li>
                    <button type="button" class="btnSideBar">
                        Nueva Cita

                    </button>
                </li>

                <li>
                    <button class="btnSideBar">
                        Control de Citas

                    </button>
                </li>

                <li>
                    <button class="btnSideBar">
                        Cancelar Cita
                    </button>
                </li>

                <li>
                    <button class="btnSideBar">
                        Reprogramaci&oacute;n

                    </button>
                </li>
            </ul>
        </aside>

        <div class="containerCustom">

            <br />

            <div class="row">
                <div>
                    <h4>Oftalmologo a Eliminar</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Nombres_Oftalmologo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Nombres_Oftalmologo)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Apellidos_Oftalmologo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Apellidos_Oftalmologo)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Edad_Oftalmologo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Edad_Oftalmologo)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Telefono_Oftalmologo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Telefono_Oftalmologo)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Direccion_Oftalmologo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Direccion_Oftalmologo)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Especialidad_Oftalmologo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Especialidad_Oftalmologo)
                        </dd>
                    </dl>

                    <form asp-action="DeleteLibro">
                        <input type="hidden" asp-for="Id_Cliente" />
                        <input type="submit" value="Delete" class="btn btn-danger" /> |
                        <a asp-controller="OftalmologoMainView" asp-action="MainIndex">Back to List</a>
                    </form>
                </div>

            </div>


        </div>

    </div>



</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

